<h1>Welcome to Get Exclusive!</h1>

<div class="form-area">
  <div>
    <app-sign-in *ngIf="isSignIn; else isSignUp"></app-sign-in>
    <ng-template #isSignUp>
      <app-sign-up></app-sign-up>
    </ng-template>
  </div>
  <div>
    <div *ngIf="isSignIn; else isSignUpp">
      <p>Ещё нет аккаунта?</p>
      <button mat-raised-button (click)="toggle()">Регистрация</button>
    </div>
    <ng-template #isSignUpp>
      <div>
        <p>Уже есть аккаунт?</p>
        <button mat-raised-button (click)="toggle()">Вход</button>
      </div>
    </ng-template>
  </div>
</div>
